<body>

<div class="col-md-4">

  <header style="color: #CCCCCC">Pizza Catalogue</header>

  <div class="col-md-6 ">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td style="color: white"><%= link_to 'Show', recipes_path(recipe) %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>

</body>
<%= yield %>